= render :partial => 'layouts/header'
= render :partial => 'layouts/flashes'
= render :partial => 'layouts/featured'
= render :partial => 'layouts/content'
= render :partial => 'layouts/social'
= render :partial => 'layouts/footer'